<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ template "title" . }}</title>
    {{ template "scripts" }}
</head>
<body>
<div>
    <a href="/">home</a>
</div>
{{ template "body" . }}
</body>
</html>